body{
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: #127;
    position: absolute;
    width: 1300px;
    height: 1100px;
    margin: 2%;
    margin-left: 6%;
}

div.paragraph{
    border: 0.3rem solid #135;
    align-items: center; /* Added to horizontally center the button */
    width: 1300px;
    height: 235px;
    position: absolute;
    top: 13%;
    color: #127;
}

div.choicearea{
    border:1rem solid #135;
    width: 1300px;
    height: 550px;
    position: relative;
    top: 38%;
}

form.choice{
    color: #127;
    background-color: white;
    width: 500px;
    height: 500px;
    position: absolute;
    left:20%;
    top: 5%;
}

div.container2{
    position: absolute;
    width: 500px;
    height: 500px;
    bottom: 57%;

}
.screenshot2{
    width: 150px;
    height: 150px;
}
div.container{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 42%;
    bottom: 12%;

}
.screenshot{
    width: 578px;
    height: 500px;
}

div.Option_B{
    background-color: white;
    border: 5px solid #67c;
    border-radius: 0.5rem;
    color: #127;
    padding: 0.1rem 0.75rem;
    width: 310px;
    height: 190px;
    position: absolute;
    right: 15%;
    bottom: 27%;
}

button{
    -webkit-appearance: none;
    appearance: none;
    color: inherit;
    background-color: transparent;
    margin: 0;
    font: inherit;
    padding: 0.75rem 1.5rem;
    text-align: center;
}

.button {
  font:inherit;
  color: #25a;
  background-color: #cef;
  border: 1px solid #67c;
  border-radius: 0.5rem;
  display: flex;
  text-decoration: none;
  cursor: pointer;
  transition:all 0.5s linear;
}

.button:hover{
    color: white;
    background-color: #25a;
    border-color: #25a;
}

.button:focus {
    outline: none;
    color: black;
    background-color: gold;
    border-color: black;
  }

.button:active {
    color: #ddd;
    background-color: #127;
    border-color: #127;
}

div.Button_Proceed{
    position:absolute;
    left: 94%;
    bottom: 2%;
}



