body{

  background-color:white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
  color: #127;
  position: absolute;
  width: 1300px;
  height: 1800px;
  margin: 2%;
  margin-left: 6%;
}

div.paragraph{
  align-items: center; /* Added to horizontally center the button */
  width: 1300px;
  height: 500px;
  position: absolute;
  top: 6%;
  color: #127;
}


div.container{
  border: 1rem solid #137;
  position: absolute;
  width: 1300px;
  height: 500px;
  bottom: 35%;

}
.screenshot{
  width: 1100px;
  height: 500px;
}

div.container2{
  position: absolute;
  width: 500px;
  height: 500px;
  bottom: 72%;

}
.screenshot2{
  width: 150px;
  height: 150px;
}


div.caption{
  width: 1200px;
  height: auto;
  position:absolute;
  bottom:30%;

}

div.payment{
  width: 1300px;
  height: auto;
  position:absolute;
  bottom:10%;
  height: auto;

}

button{
  -webkit-appearance: none;
  appearance: none;
  color: inherit;
  background-color: transparent;
  margin: 0;
  font: inherit;
  padding: 0.75rem 1.5rem;
  text-align: center;
}

.button {
font:inherit;
color: #25a;
background-color: #cef;
border: 1px solid #67c;
border-radius: 0.5rem;
display: flex;
text-decoration: none;
cursor: pointer;
transition:all 0.5s linear;
}

.button:hover{
  color: white;
  background-color: #25a;
  border-color: #25a;
}

.button:focus {
  outline: none;
  color: black;
  background-color: gold;
  border-color: black;
}

.button:active {
  color: #ddd;
  background-color: #127;
  border-color: #127;
}

div.Button_Proceed{
  position:absolute;
  left: 94%;
  bottom: 3%;
}




